# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
  * Julia 1.1.1
  * R
  * Swift

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy.
2. PyTorch.
3. TensorFlow
4. Pandas.

|Data Science Tools|
|---|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Martyna A.